[submodule "docs/basic/linux_git"]
	path = docs/basic/linux_git
	url = git@github.com:sast-summer-training-2024/sast-linux-git.git
[submodule "docs/ai/neural-network"]
	path = docs/ai/neural-network
	url = git@github.com:sast-summer-training-2024/sast2024-neural-network.git
